body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

nav a.active {
    font-weight: bold;
}

#comic-container {
    text-align: center;
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding-bottom: 100%;
    /* Maintain aspect ratio */
    overflow: hidden;
}

#comic-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#prev-btn,
#next-btn {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: #f9f9f9;
}

#status-bar {
    text-align: center;
    margin-top: 10px;
}

#settings {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

label {
    margin-right: 5px;
}

/* Dark Mode */
.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode header {
    background-color: #222;
    color: #fff;
}

.dark-mode nav a {
    color: #fff;
}

.dark-mode #comic-image {
    filter: invert(100%);
}

.dark-mode #status-bar {
    color: #fff;
}